<h1>Admin Settings</h1>

<%= link_to "Create a job", new_job_path %><br>
<%= link_to "See all open jobs", jobs_path %><br>
<%= link_to "See all Users", admin_users_path %><br>
<%= link_to "See all applicants", admin_jobs_path %><br>
