<h1>Turing Recruting</h1>


<p>Are you a highly motivated, creative problem solver, who is business minded,
  loves to code and has a deep understanding of how to use and implement AWS
  cloud services/solutions? Are you eager to use your battle tested cloud
  development and programming experience to create innovative products and
  services in a challenging, yet rewarding environment? Do you want to work with
   a team who encourages, supports, and helps facilitate your passion to become
   better? If the answer is yes, then you may be the perfect fit for our amazing
    team of passionate and innovative individuals and our team might be the
    perfect fit for you. We are looking for a developer who has knowledge for
    designing, building, and implementing technical cloud solutions throughout
    the life-cycle of various products and services</p>


    <p> We have the right gig for you! </p>
