<div>
<h1>Welcome <%= @user.first_name %></h1>

<h3>here are the jobs you have applied to</h3>

<div>
  <ul>

      <% @all_user_jobs.each do |job| %> <br>
        <li>
        <%= link_to job.title,job_path(job) %> <br>
        </li>
      <%end%>

  </ul>
</div>

<br>
<h4><%= link_to "Search for Jobs",jobs_path %></h4>
</div>
